<div class="card" *ngIf="pokeData" [ngStyle]="{'background-color': getColor()}">
    <div class="img-container" *ngIf="pokemon">
        <img [src]="pokemon.imgUrl" [alt]="pokemon.name + ' Image'">
    </div>

    <div class="info" *ngIf="pokemon">
        <div class="number">{{ getPokemonNumber() }}</div>
        <h4 class="name">{{ pokemon.name | titlecase }}</h4>
        <div class="type">
            <small>
                Type <br> 
                {{ getPokemonTypeOne() | titlecase }} {{ getPokemonTypeTwo() | titlecase }}
            </small>
        </div>
    </div>
</div>