#cards-container {
    max-width: 1200px;
    width: 100vw;
}

#cards-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#cards-container ul li {
    list-style: none;
}

.pages-box {
    max-width: 400px;
    margin: 20px auto;
}